body{
    width:100%;
    height:100vh;
    background:black;
  text-align:center;
    justify-content:center;  
}
input{
    width:14em;
    height:4em;
  
    
}
.container{
    width:100%;
    height:30vh;
    font-size:1em;
    color:white;
    text-align:center;
    justify-content:center;
    display:grid;
    grid-template-columns:repeat(4,3em);
}
.grid-17{
    grid-column-start: 1;
  grid-column-end: 3;
}
.grid{
    
    border:1px solid #0c0c0c;
    border-radius: 50%;
    background:gray;
}

