body{
    width:100%;
    height:100vh;
    background:black;
  text-align:center;
    justify-content:center;  
}
input{
    margin-top:5em;
    width:11em;
    height:4em;
    color:white;
    background-color: black;
    border:none;
    font-size:1.5em;
  
    
}
.container{
    width:100%;
    height:40vh;
    font-size:1.5em;
    color:white;
    text-align:center;
    justify-content:center;
    display:grid;
    grid-template-columns:repeat(4,3em);
    margin:auto;
}
.grid-17{
    grid-column-start: 1;
  grid-column-end: 3;
}
.func,.logo{
    background:#ff8a42;
    text-align:center;
    border:1px solid #0c0c0c;
    border-radius: 50%;
}
.grid{
    text-align:center;
    border:1px solid #0c0c0c;
    border-radius: 50%;
    background:gray;
}



